.main-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    height: 500px;
    width: 100%;
}

.img-warp {
    width: 400px;
    height: 400px;
    overflow-y: hidden;
    border-radius: 50%;
    position: absolute;
    top: 50px;
}

.main-img {
    width: 100%;
}

.main-text {
    width: 100%;
    max-width: 778px;
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
}

.brown {
    width: 100%;
    background-color: #cec1ab;
    height: 250px;
    position: relative;
    top: 250px;
}

.title {
    font-size: 34px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.sub-title {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.9px;
    font-family: "Roboto", "Arial", "sans-serif";
    direction: rtl;
    padding-bottom: 80px;
}

@media (max-width: 490px) {
    .img-warp {
        width: 310px;
        height: 310px;
    }

    .main-text {
        width: 350px;
    }
}